<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
             <div class="form-group mt-5">
                 <div class="btn-group">
                    <input type="text" class="form-control" id="" placeholder="Input...">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                 </div>
                <div>
                </div>
             </div>
        </div>
        <div class="row " >
            <div class="col-8">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">SurName</th>
                        <th scope="col">Birth Year</th>
                        <th scope="col">Birth Place</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>05/4/1997</td>
                        <td>HaNoi</td>
                        <td>
                            <div class="btn-group text-center" role="group" aria-label="button group">
                                <button type="button" class=" mr-3 btn btn-warning">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>09/4/2000</td>
                        <td>PhuTho</td>
                        <td>
                            <div class="btn-group text-center" role="group" aria-label="button group">
                                <button type="button" class=" mr-3 btn btn-warning">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>14/7/2005</td>
                        <td>HaiPhong</td>
                        <td>
                            <div class="btn-group text-center" role="group" aria-label="button group">
                                <button type="button" class=" mr-3 btn btn-warning">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="form-group">
                        <input type="text" class="form-control y-3" id="" placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control y-3" id="" placeholder="SurName">
                    </div>
                    <div>
                        <select class="custom-select" id="validationTooltip04" required>
                            <option selected disabled value="">Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    
                   
                
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>