body, h1, h2, h3, h4, h5, h6, p{
   font-family: 'Roboto', sans-serif !important;
}
.container-fluid{
    background-color: #f4f5f7;
 }
 
 .nav_top{
    background-color: #f09819;
    margin-bottom: 0px;
    position: relative;
    
    color: #ffffff;
    
    
 }

 .form-control{
    max-width: 200px;
 }



 .bg-secondary{
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, #ffcc33);
 }
 .card_header{
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, #ffcc33);
    height: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
  
 }
 .top-menu{
    padding:0;
 }
 .nav_top_left{
    margin-top: 13px;
    margin-left: 25px;
 }

 .nav_top_left a{
    color: white;
    text-decoration: none;
 }
 .nav_top_right {
    margin-top: 13px;

 }
 /* .nav-link{
    
 } */

 .text-para p{
font-size: 16px;
 }
 .nav_top_right ul{
    display: flex;
    list-style: none;
    float: right;

 }
 .nav_top_right ul li{
    margin-right: 10px;
    text-decoration: none;
   

 }

 .nav_top_right ul li a {
   text-decoration: none;
   color: white;
   
}

 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
 }
 

         
 
         
 
 #navbar {
    overflow: hidden;
   
    transition: 0.4s;
    
    width: 100%;
    z-index: 10;
 }
 
 #navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    padding: 10px 10px;
   
 }
 #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
 }
 #navbar-rights {
    float: right;
 }
 .search-form{
    display: flex;
 }
 .search
{
	
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   width: 700px;
   margin-right: 60px;
  
}

.search input[type="text"]
{
	border: 0px;
	width: 100%;
   padding: 10px 10px;
   height: 60%;
   margin-top: 10px;
 background-color: #000;
color: white;
opacity: 0.6;
 
}

.search input[type="text"]:focus
{
   outline: 0;
 
}

/*
@media only screen and (min-width : 576px) {

   .container {
      max-width: 540px;
   }

@media only screen and (min-width : 768px) {

.container {
   max-width: 1200px;
}



/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	
	.search
	{
		width: 95%;
		margin: 0 auto;
	}

}


 .side-bar {
    height: 1000px;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #ffb347; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffb347, );
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
 }

 .comment h4{
    margin-left: 95px;
 }
 
 .side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
 }
 .side-bar a:hover {
    color: white;
 }
 
 .side-bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
 #final-price{
    display: inline-flex;
 }
 #final-price #p1{
color: #f09819;
font-size: 18px;
margin-right: 15px;
margin-bottom: 0px;

 }

 #final-price #p2{
    text-decoration: line-through;
    color: #000;
  margin-top: 5px;
 margin-bottom: 0px;
 }
 .infor-checkout p{
font-size: 12px;;
margin-bottom: 5px;
 }
#main-category{
   margin-right: 30px;
}

#cart-title:hover{
color: #bd6e00;
text-decoration: none;
}

#message p{
color: rgb(177, 177, 177);
margin: 90px 30px 0px 0px;
font-size: 12px;
}
 /* #pills-profile-tab:hover{
   
 } */

#pills-home-tab{
    background-color: #f09819;
    color: #ffffff;
    border: none;
    display: inline-block;
 }
 #pills-home-tab:hover{
    background-color: gainsboro;
 }
 #list-profile-list:hover {
 background-color:#ffcc33;
 color: #ffffff;
 width: 240px;
 }
 
 .item .card-product{
    background-color: #fefefe;
    border-radius: 5px;
    cursor: pointer;
 }
 
  .card-product:hover {
    border: 1px solid #f09819;
    cursor: pointer;
 }
 .active_header{
    display: flex;
    padding: 15px 20px;
   
 }

 #title-card {
   height: 40px; 
   width: 100%;

   
 }

 #title-card h4{
   color: #000;
 }

 #title-card a {
text-decoration: none;
 }

 #title-card a h4:hover {
    color: #f08c00;
 }

 #icon-view-details a{
   color: #f08c00;

 }

 #color-text-cost h3{
   color: #f09819;
 }

 #common-cost{
   width:100%; 
   height: 40px;
 }

 #view-details{
    color: #0353a3;
   
 }
 #view-details a{
   text-decoration: none;
}

 #abondon-text-cost h5{
   width:100%;
   height: 0px; 
   text-decoration: line-through;

 }
 .card-category .card-text{
    margin: 20px 0px 0px 15px;

 }

 * {
   box-sizing: border-box;
 }
 
 img {
   vertical-align: middle;
 }
 
 /* Position the image container (needed to position the left and right arrows) */
 .container {
   position: relative;
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
   margin-top: 0px;
 }
 
 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
   cursor: pointer;
 }
 
 /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 /* Number text (1/3 etc) */

 
 /* Container for image text */
 .caption-container {
   text-align: center;
   background-color: #222;
   padding: 2px 16px;
   color: white;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Six columns side by side */
 .slider-img {
   float: left;
   width: 16.66%;
 }
 
 /* Add a transparency effect for thumnbail images */
 .demo {
   opacity: 0.6;
 }

 #cursor-img1{
   opacity: 1;
 }
 #cursor-img1:hover{
   border: 1px solid #f09819;
 }

 #cursor-img:hover {
   opacity: 1;
   border: 1px solid #f09819;
 }
.card-category{
   display: flex;
}
 .owl-carousel{
    position: relative;
 }
 .owl-nav button{

transition:all 0.5s ease;
width:40px;
height: 40px;
top: 50%;
padding:0;
transform: translate(0,-50%);
cursor: pointer;
border: none;
outline: none;
color: transparent;

 }

 #shadow-card .card:hover {
   border-radius: 4px;  
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 #shadow-card .card{
    border: 1px solid rgb(236, 236, 236);
 }

 .owl-theme .owl-nav [class*=owl-] {
    margin: 5px;
    font-size: 20px !important ;
    display: inline-block;
    cursor: pointer;
    border-radius: 52%;
    color: #000! important ;
    background: white! important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
 }
 .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
   padding-bottom: 5px !important ;
 }

 .owl-nav button.owl-prev{
    left: -26px;
    position: absolute;
    display: block;
    top: 45%;
    z-index: 999;
    position: absolute;
    
  
}

 
.owl-nav button.owl-next{
   position: absolute;
   right: -26px;
   display: block;
   top: 45%;
   z-index: 999;
  
}

.collapsible {
   background: #EDE574;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(229, 243, 208), rgb(240, 239, 230));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(234, 248, 212), rgb(243, 241, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   color: #000;
   cursor: pointer;
   padding: 10px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   border: 1px solid rgb(223, 220, 220);
   border-radius: 3px;
  margin-top: 10px;
  
 }
 
 .active, .collapsible:hover {
   background-color: #555;
 }
 
 .content {
   
   display: none;
   overflow: hidden;
   color: #000;
   
   border: 1px solid rgb(223, 220, 220);
   border-radius: 3px;
 }



 .paying-method{
   
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   padding: 15px 10px;
 }

 #title-pay{
   background: #EDE574;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(230, 255, 192), rgb(240, 239, 230));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(230, 252, 196), rgb(243, 241, 225));
    height: 35px;
   margin-top: 10px;
    border-radius: 3px;
    margin-left: 25px;
    width: 700px;
 }

 #warning{
    

    background-color: #fffeee;
    border: 1px solid #ffcd87;
    border-radius: 3px;
   margin-top: 10px;
 
  
 }

 #warning p{
 
   padding-top: 15px;
  
 }

 .warning2{ 
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
 
 }
 .warning2 p{
   padding-top: 20px;
=ư
 }

 .infor-banking{
    display: inline-flex;
 }
 #paying-COD p{
    margin-bottom: 2px !important;

 }

 #code-discount{

    border: 1px solid rgb(165, 165, 255);
    border-radius: 3px;
    padding: 4px 20px;
    color: rgb(184, 180, 180);
 }

 #text-sum-cost{
    height: 30px;
 }
#text-sum-cost p{
   font-size: 15px;
  margin-top: 5px;
}
 #title-pay p{
    padding: 5px 0px;
 }


 #active_text{
    margin-top: 5px;
    color: black;
 }
 #demo{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 4px 13px;
    width: 110px;
    margin-left: 20px;
   
 }
 #icon_menu{
    color: #f09819;
     margin-right: 30px;
     width: 0px;
 }

 #text-hidden-category a:hover{
   color: #f09819;
 }
 .checked{
    color: #f09819;
   
 }
 .list-group-item.active{
    background-color: rgb(252, 252, 252);
    color: #000;

 }

 #category-title p{
margin-bottom: 0px;
 }
 .unchecked{
    color: #000;
 }
 #star{
    font-size: 10px;
 }
 
 .nav{
   overflow: auto;
   white-space: nowrap;
   flex-wrap: nowrap;
   
 }

 .nav li li {

   display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
 }

 .scroll-menu {
    
    overflow: auto;
    white-space: nowrap;
  
  }
  
 .scroll-menu .card {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  
  }
  
  .scroll-menu a:hover {
    background-color: #777;
  }
 .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #f09819;
    color: white;
    padding: 10px 25px ;
    border: none;
   
 }
 /* .text-content pre ul li{
   
    
 } */
.page-link:hover{
   background-color: #f09819;
   color: white;
}

.navbar .navbar-nav .nav-item .nav-link{
   color: white;
   font-size: 13px;

}
 .cart-icon{
display: inline-flex;
color:white;
 margin-left: 25px;
  border: 1px solid white; 
  padding: 0px 15px;
   border-radius:5px;
  
   
 }

 .cart-icon a{
    color: white;
    text-decoration: none;
    font-size: 13px;
 }
 .openbtn:hover {
    background-color: #444;
 }
 
 #main-btn {
    transition: margin-left .5s;
    padding: 10px;
 }
 .post .row {
    margin: 10px -16px;
 }
 
 .post .row,
 .post .row > .column_img {
    padding: 8px;
 }
 
 .card-product .card-title h4{
    text-decoration: none;
 }
 
 .bg-light{
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, #ffcc33);

 }
 .post .row .column_img {
    float: left;
    
    /* Hide all elements by default */
 }

 .btn-default:disabled, .btn-default:focus, .btn-default:hover{
    background-color: #ff9500 !important;
 }
 .btn-default{
    background-color:white !important;
    color: #000 !important;
    border: 1px solid rgb(238, 237, 237);
 }
 .post .row .column_img .content {
    background: #fdcf51;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe293, #fdcf51);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe293, #fdcf51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clear: left;
    padding: 10px;
    margin-bottom: 10px;
 }
 
 .btn-gradient1{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 130px;
 }
 
 .shiping-free{
   border-style: dashed;
   padding: 15px;
   background-color: #fffab4;
   height: 65px;
 }

 #box-shipping{
    
    height: 0px;
 }

 #v-pills-tab-with-icon{
   overflow: hidden;
 }
 #box-shipping h5{
    padding-bottom: 20px;
 }
 .active, .collapsible:hover {
    background-color: white;
 }

 #Step{
   background: #fdcf51;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #fdcf51, #f09819);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #fdcf51, #f09819);
   margin-top: 4px;
   color: white;
   padding: 10px;
  
 }

 .nav-pills.flex-column .nav-link:hover{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;
   color: white;
   
 }

 .nav-pills.nav-secondary #v-pills-home-tab-icons.active{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;

 }

 .nav-pills.nav-secondary .nav-link.active{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;
   
 }

 
 /* #infor-detail .col{
 
   
 }
 #header-pay{
   
 } */
 #header-pay p{
    margin-bottom: 0px; 
 }
 #header-pay h3{
   margin-bottom: 0px; 
 }
 .fash-sale{
    height: 40px;
    background: #fdcf51;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe293, #fdcf51);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe293, #fdcf51);
 }
 .fash-sale h2{
    color: brown;
    padding: 8px 20px;
 }
 .fixed-pay{
   overflow: hidden;
background: white;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 1000;
 }

 .fixed-pay a{
   float: left;
   display: block;
   color: #000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 .side {
   float: left;
   width: 15%;
   margin-top:10px;
 }
 
 .middle {
   margin-top:10px;
   float: left;
   width: 70%;
 }
 
 /* Place text to the right */
 .right {
   text-align: right;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* The bar container */
 .bar-container {
   width: 100%;
   background-color: #f1f1f1;
   text-align: center;
   color: white;
 }

 
 
 /* Individual bars */
 .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
 .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
 .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
 .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
 .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
 
 #cost{
    background-color: ghostwhite;
    padding: 5px 0px;
    padding-left: 20px;
    height: 80px;
 }
 #cost .row{
    margin-left: 1px;
 }
 #cost p3{
    margin-left: 10px;
border-radius: 2px;
padding: 2px 5px;
color: white;
font-size: 12px;
   background: #fdcf51;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #fdcf51, #f09819);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #fdcf51, #f09819);
   margin-top: 12px;
height: 23px;
 }
 #cost p{
    color: #f09819;
    margin-top: 2px;
    font-size: 25px;
    height: 20px;
 }
 #cost p2{
 text-decoration: line-through;
  margin-right: 10px;
margin-top: 15px;
  font-size: 15px;
 }
 #row-pay{
    margin-top: 15px;
   
 }

 
 #alert_demo_1{
   background-color: #fdedc4 !important;
    padding: 13px 15px;
    color: #f09819;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #f09819 !important;
    width: 190px;

 }

 .btn-pay{
   background-color: #ff9500;
   padding: 13px 15px;
   color: #ffffff;
   border:none;
   border-radius: 5px;
   cursor: pointer;
   
   width: 190px;
   
   
}
 .text-rate-star{
    display: flex;
    font-size: 50px;
   

 }
 

 .ImgZoom {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
 }
 .ImgZoom-content{
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
 }
 #caption-ImgZoom{
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
 }
 .center{
   width: 150px;
     margin: 40px auto;
     
   }

  
 
 
 #caption h4 {
   color: #ccc;
 }
 #caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
 }

 .nav-pills.nav-secondary .nav-link.active {
    background-color: #f09819 !important;
    color: #ffffff !important;
    border: none;
 }
 
 .rating-star-1{
    padding-top: 0px;
 }
 .text-rate-star h1 small{
    color: #f09819;
   
 }

 .btn-btn-footer{
 padding: 5px 10px;
 margin-bottom: 5px;
 border-radius: 5px;
 cursor: pointer;
 background-color: #fff;
 border: 1px solid rgb(177, 176, 176);
 }
 .btn-btn-footer:hover{
background-color: #f09819;
color: white;
 }

 .navbar .navbar-nav .nav-item .nav-link:hover {
    background: #f09819 !important;
 }

 #carousel_horizontal .owl-prev{
    top: 32%;

 }

 #carousel_horizontal .owl-next{
   top: 32%;
 }

 #carousel_horizontal .owl-dots{
    display: none;
 }
 .btn-gradient2{
    background: #7b4397;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 padding: 10px 15px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 color: white;
 width: 130px;
 }
 .btn-gradient3{
    background: #43cea2;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 padding: 10px 15px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 color: white;
 width: 130px;
 }
 
 .btn-gradient4{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 130px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
 }
 
 .btn-gradient5{
    background: #fe8c00;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 padding: 10px 15px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 color: white;
 width: 130px;
 }
 .btn-gradient15{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px ;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   color: white;
   width: 200px;
  
 }
 .btn-gradient6{
    background: #00d2ff;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 padding: 10px 15px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 color: white;
 width: 130px;
 }
 .img-zoom-container {
    position: relative;
 }
 
 .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
 }
 
 .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 500px;
    height: 200px;
    margin-top: 20px;
 }




 
    #navbar a {
       float: none;
       display: block;
       text-align: left;
    }
    #navbar-rights {
       float: none;
    }
 }
 .navbar {
    background: #ffb347; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffb347, #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 99;
    position: relative;
 }
 .header{
    width: 100%;
    z-index: 10;
 }
 
 .text-footer a p{
    color: #000;
    margin-bottom: 10px;
   
 }

 .text-footer a p:hover{
    color:#f08c00;
 }

 .text-footer a{
   text-decoration: none;
 }
 
 .mega-menu .dropdown-hover{
    float: left;
    overflow: hidden;
    display: flex;
 }
 
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    margin-left: 270px;
    z-index: 3;
    border: 1px solid gainsboro;
    border-radius: 5px;
 }
 .dropdown-content .row .column a{
    
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    float: left;
    margin-left: 20px;
    clear: left;
    
 }
 
 .dropdown-hover:hover .dropdown-content {
    display: block;
 }
 
 .btn-floating{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 5px 10px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
 }
 
 .btn-floating:hover {
    border: 1px solid white;
    border-radius: 40px;
    background-color: white;
    padding: 15px 20px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 #main-footer-computer{
   background-color: white;
   border-top: 4px solid #f09819;
 }
 #copyright-company{
    height: 120px;
    background-color: #f5f5f5;
   
    width: 100%;
 }

 #copyright-company p{
    color: #000;
    margin-bottom: 2px;
 }
 